*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1{
    
    border: 5px solid;
    width: 500px;
    height: 250px;
    justify-content: center;
    margin: auto;
    margin-top: 45px;
    position: relative;
    border-color:gray;
}
.box2{
    background-color: rgb(80, 19, 138);
    padding-left: 15px;
    padding-top: 15px;
    width: 110px;
    height: 110px;
    border-radius: 5px;
    position: absolute;
    right: 0px;
}
.span{
    color: aliceblue;
}
.pop{
    margin-top: 18px;
    margin-left: 5px ;
   margin-right: 5px;
}